@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik LCG';
    src: url('../fonts/GraphikLCG-Semibold.woff2') format('woff2'),
    url('../fonts/GraphikLCG-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --color-main: #fff;
    --color-title: #000;
    --color-brand: #FF6336;
    --color-shadow: rgba(0, 0, 0, 0.3);
    --color-backgraund: #FF9C7D;
    --color-section-backgraund: #FFF8E4;
    --color-section-person: #C9E8F2;
    --color-section-rate: #DABC98;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    font-weight: 400;
    font-family: 'Graphik LCG';
    color: var(--color-title);
    background-color: var(--color-main);
}